.col-md-2 {
    text-align: center;
}

.col-md-8{
  height: 250px;
  overflow: auto;
}

.openModal {
    margin-top: 90px;
}

.showMore {
    display: none;
    padding: 20px;
}

.capitalize {
    text-transform: capitalize;
}

form.pagination {
    display: none;
}

#bookName {
    width: 120px;
}

#bookshelf {
    padding: 20px;
}
